body {
    background-color: #fffaf0; 
    color: black;
    font-family: Arial, sans-serif;
}
header {
    background-color: brown;
}
nav {
    text-align: center;
}
nav ul li {
    list-style: none;   
}
a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}
h1 {
    color: orange;
    text-align: center;
}

h2 {
    color: brown;
}

p {
    color: #333333;
    font-size: 16px;
}
section {
    background-color: white;
    border: 2px solid brown;
}

img {
    width: 400px;
}

ul {
    color: black;
}

li {
    font-size: 18px;
}
fieldset {
    border: 2px solid orange;
    background-color: #fcfcfc;
}

legend {
    background-color: brown;
    color: white;
}

button {
    background-color: orange;
    color: white;
    font-size: 16px;
    border: 2px solid brown;
}

footer {
    background-color: brown;
    color: white;
    text-align: center;
}
.hero-image {
display: flex;
justify-content: center;
padding: 20px;
}